CONFIG_P4KVM_WIFI_ENABLE=y
CONFIG_P4KVM_WIFI_SSID="testnet"
CONFIG_P4KVM_WIFI_PASSWORD="testpass1234"
CONFIG_P4KVM_WG_ENABLE=y
CONFIG_P4KVM_WG_PRIVATE_KEY="2BJtcgPUOhtVlnSvJ95RRE39wjLBLZ7lGVkYRwXjcmc="
CONFIG_P4KVM_WG_PEER_PUBLIC_KEY="xTIBA5rboUvnH4htodjb6e697QjLERt1NAB4mZqp8Dg="
CONFIG_P4KVM_WG_ENDPOINT="vpn.example.net"
